# Library improt

In [5]:
import numpy as np
import pandas as pd
import os
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import make_scorer

from lightgbm import LGBMRegressor
from sklearn.model_selection import train_test_split

os.chdir('C:/elec_used/data/energy')

In [6]:
os.listdir('C:/elec_used/data/energy')

['sample_submission.csv', 'test.csv', 'train.csv']

In [14]:
train = pd.read_csv('train.csv', encoding = 'euc-kr')
test = pd.read_csv('test.csv', encoding = 'euc-kr')
submission = pd.read_csv('sample_submission.csv', encoding='euc-kr')

In [15]:
train.head(10)

   num      date_time  전력사용량(kWh)  기온(°C)  풍속(m/s)  습도(%)  강수량(mm)  일조(hr)  비전기냉방설비운영  태양광보유
0    1  2020-06-01 00    8179.056    17.6      2.5   92.0      0.8     0.0        0.0    0.0
1    1  2020-06-01 01    8135.640    17.7      2.9   91.0      0.3     0.0        0.0    0.0
2    1  2020-06-01 02    8107.128    17.5      3.2   91.0      0.0     0.0        0.0    0.0
3    1  2020-06-01 03    8048.808    17.1      3.2   91.0      0.0     0.0        0.0    0.0
4    1  2020-06-01 04    8043.624    17.0      3.3   92.0      0.0     0.0        0.0    0.0
5    1  2020-06-01 05    8010.576    16.9      3.4   93.0      0.0     0.0        0.0    0.0
6    1  2020-06-01 06    7978.176    16.7      3.4   90.0      0.1     0.0        0.0    0.0
7    1  2020-06-01 07    8019.000    16.9      2.3   86.0      0.0     0.1        0.0    0.0
8    1  2020-06-01 08    8020.944    17.8      3.3   80.0      0.0     0.3        0.0    0.0
9    1  2020-06-01 09    8083.152    19.3      2.1   73.0      0.0     0.7        0.0    0.0

In [16]:
test.head(10)

   num      date_time  기온(°C)  풍속(m/s)  습도(%)  강수량(mm, 6시간)  일조(hr, 3시간)  비전기냉방설비운영  태양광보유
0    1  2020-08-25 00    27.8      1.5   74.0           0.0          0.0        NaN    NaN
1    1  2020-08-25 01     NaN      NaN    NaN           NaN          NaN        NaN    NaN
2    1  2020-08-25 02     NaN      NaN    NaN           NaN          NaN        NaN    NaN
3    1  2020-08-25 03    27.3      1.1   78.0           NaN          0.0        NaN    NaN
4    1  2020-08-25 04     NaN      NaN    NaN           NaN          NaN        NaN    NaN
5    1  2020-08-25 05     NaN      NaN    NaN           NaN          NaN        NaN    NaN
6    1  2020-08-25 06    26.1      1.3   83.0           0.0          0.0        NaN    NaN
7    1  2020-08-25 07     NaN      NaN    NaN           NaN          NaN        NaN    NaN
8    1  2020-08-25 08     NaN      NaN    NaN           NaN          NaN        NaN    NaN
9    1  2020-08-25 09    28.8      1.2   77.0           NaN          1.1        NaN    NaN

In [17]:
submission.head(10)

     num_date_time  answer
0  1 2020-08-25 00       0
1  1 2020-08-25 01       0
2  1 2020-08-25 02       0
3  1 2020-08-25 03       0
4  1 2020-08-25 04       0
5  1 2020-08-25 05       0
6  1 2020-08-25 06       0
7  1 2020-08-25 07       0
8  1 2020-08-25 08       0
9  1 2020-08-25 09       0

# Data Browser & Preprocessing

+ 비전기냉방설비운영(가스냉방): 0 = 없음, 1 = 있음
+ 태양광보유 : 0 = 없음, 1 = 있음
+ test의 경우 전력사용량 column 없음

In [18]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122400 entries, 0 to 122399
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   num         122400 non-null  int64
 1   date_time   122400 non-null  object
 2   전력사용량(kWh)  122400 non-null  float64
 3   기온(°C)      122400 non-null  float64
 4   풍속(m/s)     122400 non-null  float64
 5   습도(%)       122400 non-null  float64
 6   강수량(mm)     122400 non-null  float64
 7   일조(hr)      122400 non-null  float64
 8   비전기냉방설비운영   122400 non-null  float64
 9   태양광보유       122400 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 9.3+ MB

In [19]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10080 entries, 0 to 10079
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   num           10080 non-null  int64
 1   date_time     10080 non-null  object
 2   기온(°C)        3360 non-null   float64
 3   풍속(m/s)       3360 non-null   float64
 4   습도(%)         3360 non-null   float64
 5   강수량(mm, 6시간)  1680 non-null   float64
 6   일조(hr, 3시간)   3360 non-null   float64
 7   비전기냉방설비운영     2296 non-null   float64
 8   태양광보유         1624 non-null   float64
dtypes: float64(7), int64(1), object(1)
memory usage: 708.9+ KB

In [21]:
# 건물별 '비전기 냉방설비운영' 과 '태양광보유' 를 판단해 tet set의 결측치 보간
train[['num', '비전기냉방설비운영', '태양광보유']]
ice = {}
hot = {}
count = 0
for i in range(0, len(train), len(train)//60):
    count += 1
    ice[count] = train.loc[i, '비전기냉방설비운영']
    hot[count] = train.loc[i, '태양광보유']
    
for i in range(len(test)):
    test.loc[i, '비전기냉방설비운영'] = ice[test['num'][i]]
    test.loc[i, '태양광보유'] = hot[test['num'][i]]